.UserInfoView {
  background-color: #0D61FB;
  padding: 15px;
  display: flex;

  img {
    margin-right: 10px;
    border-radius: 50%;
    max-width: 48px;
    max-height: 48px;
  }

  p {
    margin-right: 20px;
    margin-top: 15px;
  }
}
